@model List<Price>


<div class="container">
    <div class=" row">
        <div class="col text-center">
            <h1>CURRENT MARKET PRICE</h1>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>CompanyId</th>
                <th>Price(LTP)</th>
                <th>Open</th>
                <th>High</th>
                <th>Low</th>
                <th>Volume</th>

            </tr>
        </thead>
        <tbody>
            @foreach(var obj in Model)
            {
                <tr>
                    <td>@obj.Id</td>
                    <td>@obj.CompanyID</td>
                    <td>@obj.LTP</td>
                    <td>@obj.Open</td>
                    <td>@obj.High</td>
                    <td>@obj.Low</td>
                    <td>@obj.Volume</td>
                </tr>
            }
        </tbody>
    </table>
</div>
